<div class="bg-success"><%= flash[:success] %></div>
<div class="bg-danger"><%= flash[:error] %></div>
  <div class="panel panel-defualt">
  <div class="panel-body">
    <h2 class="text-center" >Orders</h2>

    <div "text-center">
      <h4><em>Create new orders from within <%= link_to "User", users_path %> profiles</em></h4>
    </div>


<table class="table table-striped">
  
    <th>ID</th>
    <th>UserID</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Total Value</th>
    <th>Status</th>
    <th>Date Placed</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Destroy</th>
  
  <% @orders.each do |o| %>
  <tr>
    <td><%= o.id  %></td>
    <td><%= link_to o.user_id, user_path(o.user)  %></td>
    <td><%= o.street_address %></td>
    <td><%= o.city.name %></td>
    <td><%= o.state.name %></td>
    <td><%= o.order_count %></td>
    <td><%= o.created_at.strftime("%m/%d/%Y")  %></td>
    <td><%= link_to "show", address_path(a) %></td>
    <td><%= link_to "edit", edit_address_path(a) %></td>
    <td><%= link_to "delete", address_path(a), :method => :delete, :confirm => "Are you sure?" %></td>
  </tr>
  <% end %>
</table>