<h1>New Order for <%= @user.name %></h1>
<div class="panel panel-default">
  <div class="panel-body">
    <%= render :partial => 'basic_order_info' %>
    <%= form_for @order, action: '/edit' do |f| %>
      <h3>Shipping Address</h3>
      <%= collection_select(:order, :shipping_id, @user.addresses, :id, :street_address) %>
      <h3>Billing Address</h3>
      <%= collection_select(:order, :billing_id, @user.addresses, :id, :street_address) %>
      <h3>Billing Card</h3>
      <select name="fun" id="cards">
        <option><%=@user.credit_card.card_number%></option>
      </select>
      <input type="hidden" name="order[user_id]" value="<%= @user.id%>">
      <%= f.submit %>
    <% end %>
    </div>
</div>