<h1>Order <%= @order.id %> </h1>
<div class="panel panel-default">
  <div class="panel-body">
    <h2>Logistical Inforamtion</h2>
    <h3>Basic Information</h3>
    <table class="table">
      <tr>
        <td>Customer ID: </td>
        <td><%= @order.user_id %></td>
    </tr>
    <tr>
      <td> Customer: </td>
      <td> <%= link_to @order.user.name, user_path(@order.user)  %></td>
    </tr>
    <tr>
      <td>Email: </td>
      <td><%= @order.user.email %></td>
    </tr>
    <tr>
      <td>Date Placed: </td>
      <td><%= @order.checkout_date.strftime("%m/%d/%Y") if @order.checkout_date%></td>
    </tr>
    <tr>
      <td># Products</td>
      <td><%= @order.products.count %></td>
    </tr>
    <tr>
      <td>Order Value</td>
      <td><%= @order.value %></td>
    </tr></table>
    <%= link_to "Edit Customer Profile", edit_user_path(@order.user)  %>
    <h3>Order Status:</h3>
    <h2><%= @order.status.html_safe %></h2>
    <h3>Shipping Address</h3>
    <table class="table">
      <tr>
        <td>Street</td>
        <td><%= @order.shipping_address.street_address %></td>
      </tr>
      <tr>
        <td>City</td>
        <td><%= @order.shipping_address.city.name %></td>
      </tr>
      <tr>
        <td>State</td>
        <td><%= @order.shipping_address.state.name %></td>
      </tr>
    </table>
    <h3>Billing Address</h3>
    <table class="table">
      <tr>
        <td>Street</td>
        <td><%= @order.billing_address.street_address %></td>
      </tr>
      <tr>
        <td>City</td>
        <td><%= @order.billing_address.city.name %></td>
      </tr>
      <tr>
        <td>State</td>
        <td><%= @order.billing_address.state.name %></td>
      </tr>
    </table>
    <h3>Billing Card</h3>
    <table class="table">
      <td>
        Last 4 Digits:
      </td>
      <td>
        <%= @order.user.credit_card.card_number %>
      </td>
    </table>

    <%= link_to "Edit Order", edit_order_path(@order)  %>
    <%= link_to "Delete Order", order_path(@order), method: :delete  %>  

  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <h2>Order Contents</h2>
    <table class="table">
      <thead>
        <th>Product ID</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total Price</th>
      </thead>
      <tbody>
        <% OrderContent.where(:order_id => @order.id).each do |item| %>
        <tr>
          <td><%=item.product_id %></td>
          <td><%=item.product.name%></td>
          <td><%=item.quantity%></td>
          <td><%=item.product.price%></td>
          <td><%= item.quantity * item.product.price %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to "Edit Order", edit_order_path(@order)  %>
    <%= link_to "Delete Order", order_path(@order), method: :delete  %> 
  </div>
</div>

