  <div class="bg-success"><%= flash[:success] %></div>
  <div class="panel panel-defualt">
  <div class="panel-body">
    <h2 class="text-center" >Viking Store Categories</h2>

      <%= link_to "Create New Category", new_category_path , :class => "btn btn-primary btn-lg btn-block" %>

    <table class="table table-striped">
      <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Description</td>
        <td>Created</td>
        <td>Updated</td>
        <td>SHOW</td>
        <td>EDIT</td>
        <td>DELETE</td>
      </tr>
      <% @categories.each do |c| %>
        <tr>
          <td><%= c.id %></td>
          <td><%= c.name %></td>
          <td><%= c.description %></td>
          <td><%= c.created_at %></td>
          <td><%= c.updated_at %></td>
          <td><%= link_to "show", category_path(c) %></td>
          <td><%= link_to "edit", edit_category_path(c) %></td>
          <td><%= link_to "delete", category_path(c), :method => :delete, :confirm => "Are you sure?" %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>