  <div class="bg-success"><%= flash[:success] %></div>
  <div class="panel panel-defualt">
  <div class="panel-body">
    <h2 class="text-center" >Viking Store Categories</h2>

      <%= link_to "Create New Category", new_category_path , :class => "btn btn-primary btn-lg btn-block" %>

    <table class="table table-striped">
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Created</th>
        <th>Updated</th>
        <th>SHOW</th>
        <th>EDIT</th>
        <th>DELETE</th>
      <% @categories.each do |c| %>
        <tr>
          <td><%= c.id %></td>
          <td><%= c.name %></td>
          <td><%= c.description %></td>
          <td><%= c.created_at.strftime("%m/%d/%Y") %></td>
          <td><%= c.updated_at.strftime("%m/%d/%Y") %></td>
          <td><%= link_to "show", category_path(c) %></td>
          <td><%= link_to "edit", edit_category_path(c) %></td>
          <td><%= link_to "delete", category_path(c), :method => :delete, :confirm => "Are you sure?" %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>