[<h3 class="text-center">Category: <%= @category.name %></h3>
<hr>

<table class="table table-striped">
    <th>ID</th>
    <th>SKU</th>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Created</th>
    <th>Updated</th>
    <th>SHOW</th>
    <th>EDIT</th>
    <th>DELETED\</th>
  <% @products.each do |p| %>
  <tr>
    <td><%= p.id  %></td>
    <td><%= p.sku.round  %></td>
    <td><%= p.name  %></td>
    <td><%= p.description  %></td>
    <td>£<%= p.price.round(2)%></td>
    <td><%= p.created_at  %></td>
    <td><%= p.updated_at  %></td>
    <td><%= link_to "show", product_path(p) %></td>
    <td><%= link_to "edit", edit_product_path(p) %></td>
    <td><%= link_to "delete", product_path(p), :method => :delete, :confirm => "Are you sure?" %></td>
  </tr>
  <% end %>
</table>